/*

#page{
	border: 2px solid white;
	width: 1280px;
	height: 1000px;
}

h1{
	color: #19334d;
	font-family: verdana;
	font-size: 32px;
	opacity: 1.0;
}

#title
{
	background: rgba(0,0,255,0.4);
	height:120px ;
	width:1280px;
}

#text_start {
	position: relative;
	top: -40px;
	left: 100px;
    border-radius: 25px;
    border: 2px solid #5D7B85;
    padding: 10px; 
    width: 150px;
    height: 30px; 
}

#start_time{
	position: relative;
	top: -70px;
	left: 130px;
	border-radius: 25px;
}

#text_stop {
	position: relative;
	left: 1000px;
	top: -170px;
    border-radius: 25px;
    border: 2px solid #5D7B85;
    padding: 10px; 
    width: 150px;
    height: 30px; 
}

#stop_time{
	position: relative;
	left: 1030px;
	top: -200px;
	border-radius: 25px;
}

#submit{
	position: relative;
	left: 600px;
	top: 60px;
}

input[type=submit] {

    padding:5px 15px; 
    border: 2px solid #5D7B85;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 25px; 
}

#totalTime{
	position: relative;
	top: -150px;

}

#table{
	margin: 0px auto;   
}

table{
	border-collapse: collapse; /* IE7 and lower */
	border-spacing: 2px; 
}

#table2{
	margin-top:-70px ;
	border: none;
}

#assist{
position: relative;
top: -100px;
}

#assistants {
	position: relative;
	
	left: 600px;
	
	text-align: center;
	border-radius: 25px;
    border: 2px solid #5D7B85;
    padding: 10px; 
    width: 100px;
    height: 30px; 
}

#submit{
	position: absolute;
	top: 600px; 
	left: 630px;
	
}
input[type=submit] {

    padding:5px 15px; 
    border: 2px solid #5D7B85;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 25px; 
}
*/