#custom{
	display: none;
}

.custom{
	width: 312px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 1px dashed #888;
	border-radius: 15px;
	position: relative;
	padding-top: 25px;
	padding-bottom: 20px;
	padding-left:  55px;
	padding-right: 30px;
	background-color: rgba(255, 255, 255, 0.6);
}

#custom_heading{
	background-color: #467FC9;
	padding: 10px;
}

#custom_table{
	padding: 10px;
	margin: 0 auto;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

#custom_table td {
	padding: 5px;
}
