#text_box{
 	padding:5px 15px;
 	width:fit-content;
 	width:-webkit-fit-content;
 	width:-moz-fit-content;
 	border: 3px solid #5D7B85;
 	cursor:pointer;
 	-webkit-border-radius: 5px;
 	border-radius: 25px;
 	display: inline-block;
 	min-width: 800px;
 	/*width: 1200px;*/
 	/*margin: 0 auto;*/
 	margin: 20px;
 	text-align: left;
 	background-color: rgba(255, 255, 255, 0.6);
 }
 
.engineer{
	text-align: center;
}

.conductor{
	text-align: center;
}