#top_panel{
background-color: #0000ff;
height:25% ;
width:100%;
opacity: 0.5;
}

#title{
position: absolute;
top: 0px;
opacity: 1.0;
}

h1{
color: #19334d;
font-family: verdana;
font-size: 210%;
}

#text_start {
	position: absolute;
	top: 180px;
	left: 100px;
    border-radius: 25px;
    border: 2px solid #5D7B85;
    padding: 10px; 
    width: 150px;
    height: 30px; 
}

#start_time{
position: absolute;
top: 260px;
left: 135px;
border-radius: 25px;
}

#totalTime{
position: relative;
top: 60px;
}

#assist{
position: relative;
top: 120px;
}

#submit{
position: relative;
left: 47% ;
top: 60px;
}
input[type=submit] {

    padding:5px 15px; 
    border: 2px solid #5D7B85;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 25px; 
}

button
{
padding:5px 15px; 
    border: 2px solid #5D7B85;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 25px; }
	
#assistants {
	position: relative;
	top: 15px;
	left: 45%;
	
	text-align: center;
	border-radius: 25px;
    border: 2px solid #5D7B85;
    padding: 10px; 
    width: 100px;
    height: 30px; 
}

#table{
margin: 0px auto;   
}

#table2{
margin-top:-70px ;
border: none;
}


#text_stop {
	position: absolute;
	right: 200px;
	top: 180px;
    border-radius: 25px;
    border: 2px solid #5D7B85;
    padding: 10px; 
    width: 150px;
    height: 30px; 
}

#stop_time{
position: absolute;
right: 235px;
top: 260px;
border-radius: 25px;
}

table{
border-collapse: collapse; /* IE7 and lower */
border-spacing: 2px; 
}

#refresh{
position: relative;
left: 90% ;
top: 2%;

}

